language: go
go_import_path: github.com/davecheney/httpstat
go:
  - 1.7.1
  - tip

sudo: false

install:
  - echo "skipping travis' default go get -t -v to ensure we're only using vendor/ dependencies"

script:
  - go vet $(go list ./... | grep -v "vendor")
  - go build github.com/davecheney/httpstat
  - ./httpstat http://dave.cheney.net/
  - ./httpstat http://dave.cheney.net:80/
  - ./httpstat -X POST -d 'post' http://httpbin.org/post
  - ./httpstat -X DELETE http://httpbin.org/delete
  - ./httpstat https://www.google.com/
  - ./httpstat https://www.google.com:443/
  - ./httpstat -L http://httpbin.org/redirect-to?url=https://httpbin.org/relative-redirect/1
  - ./httpstat -I http://example.com/
  - ./httpstat -I -L http://httpbin.org/redirect/1
  - ./httpstat google.com
  - ./httpstat google.com:80
  - ./httpstat google.com:443
  - ./httpstat :80
  - ./httpstat :443
